<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Order Confirmation</title>
		<!-- Add any stylesheets or scripts you need here -->
	</head>
	<body>
		<div id="currentUser">Currently logged in as:<br /></div>
		<h1>Thank you for your order!</h1>
		<p>
			Your order has been placed successfully and a confirmation email has been
			sent to you.
		</p>
		<a href="/">Return to Homepage</a>
		<script>
			fetch('/current-user')
				.then((response) => response.json())
				.then((data) => {
					if (data.username) {
						document.getElementById('currentUser').innerText += data.username;
					}
				})
				.catch((error) => console.error('Error:', error));
		</script>
	</body>
</html>
