<%- include('partials/header', { title: 'Welcome to Our Shop' }) %>

<h1>Refa Proff</h1>
<p>
    Venligst <a href="/login">Logg Inn</a> eller
    <a href="/register">Registrer bruker</a>.
</p>

</body>
</html>