<%- include('partials/header', { title: 'Login' }) %>
<%- include('partials/navigation') %>

<h2>Logg inn</h2>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Brukernavn" required />
    <input type="password" name="password" placeholder="Passord" required />
    <button type="submit">Logg inn</button>
</form>

</body>
</html>