<%- include('partials/header', { title: 'Register' }) %>

<h2>Registrer Bruker</h2>
<form id="reg-form" action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />
    <input type="text" name="delivery_address" placeholder="Delivery Address" required />
    <button type="submit">Register</button>
</form>

</body>
</html>